  <nav>
    <h1 style="color: red; font-size: 40px;"> Tiny App </h1>
  </nav>

  <form method="POST" action="/login">
    <input name="login" id="login" type="text" placeholder="Enter your username">
    <button type="submit">Log-in</button>
  </form>