  <nav>
    <h1 style="color: blue; font-size: 30px;"> Tiny App </h1>
  </nav>
    <header>
      <% if (user) { %>
      <%= user.email %>
      <% } else { %>
      <a href="/login/<%= key %>"> Login </a>
      <a href="/register/<%= key %>"> Register </a>
      <%}%>
    </header>



