  <nav>
    <h1 style="color: blue; font-size: 30px;"> Tiny App </h1>
  </nav>
    <head></head>
    <body style="padding:0px;">
    <%if (user) { %>
      <%= user.id %>
      <form method="POST" action="/logout">
      <button type="submit">Logout</button> </form>
    <% } else { %>
      <form method="POST" action="/login">
      <input type="text" placeholder="Enter Email" name="email">
      <input type="password" placeholder="Enter Password" name="password">
      <button type="submit">Login</button>
  </form>
  </body>
    <% } %>


