  <nav>
    <h1 style="color: blue; font-size: 30px;"> Tiny App </h1>
  </nav>
  <header>
    <% if (username) { %>
    <%= username.email %>
  </header>
  <form action="/logout" method='POST'>
    <input value='Logout' type='submit'>
  </form>
  <% } else { %>
    <form action="/login" method='POST'>
      <input type="text" placeholder="username" name='email'>
      <input type="password" placeholder="password" name='password'>
      <input value="Login" type="submit" name="Submit">
      <a href="/register"><input type="button" value="Register"></a>
    </form>
  <% } %>
