  <nav>
    <h1 style="color: blue; font-size: 30px;"> Tiny App </h1>
  </nav>
    <head></head>
    <body style="padding:0px;">
      <% if(!user) { %>
      <a href="/register/<%= key %>"> Register </a>
      <% } else { %>
      <a href="/login/<%= key %>"> Login </a>

      <%}%>
    </body>



