<!DOCTYPE html>
  <head>
  <title>Tiny App</title>
  </head>
  <body>
  <h1> Register for an account below: </h1>
  <p>
    <form action="/register" method='POST'>
      <input type="text" placeholder="email@example.com" name='email'>
      <input type="password" placeholder="password" name='password'>
      <button type="submit"> Register </button>
    </form>
  </p>
</body>
