<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
          <body>
            <header>
              </header>
                <p>
                <form method="POST" action="/register">
                  <input type="text" placeholder="Enter Email" name="email" required>
                  <input type="password" placeholder="Enter Password" name="password" required>
                  <button type="submit">Register</button>
                </form>
              </p>
          </body>
        </html>
