<!DOCTYPE html>
<html lang="en">
  <head>
      <title>TinyApp</title>
        </head>
          <body>
            <header>
              <% include ./partials/_header %>
              </header>
                <p>
              <%= shortURL %>: <%= longURL %>
                <form method="POST" action="/urls/<%=shortURL%>">
                  <input name="longURL" id="longURL" type="text" value="http://">
                  <button type="submit">Update</button>
                </form>
              </p>
          </body>
        </html>

<!--
Using EJS and HTML, code your urls_index.ejs file to display the following:
A list or table of the URLs and their shortened forms.
A link for shortening a new URL (this will be a dead link for now, that is it doesn't need to go anywhere since you'll be building its functionality later


//We start by extending at the urls_show.ejs template to include a form with two elements – a text input and a button.

Similar to the previous exercise, where you implemented URL deleting, the form will submit using a POST request.

Add a form to the urls_show template that submits an updated long URL


-->