<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
        </head>
          <body>
            <header>
              <% include ./partials/_header %>
              </header>
              <p>
                <ul>
                <% for (var key in urls) { %>
                  <li><%= key %> <%= urls[key].url %></li>
                  <% if (urls[key].linkid === user.id) { %>
                    <form method="POST" action="/urls/<%= key %>/delete">
                      <input type="submit" value="Delete">
                      <a href="/urls/<%= key %>"> Edit </a>
                    </form>
                    <% } %>
                    <% } %>
                  </ul>
                </p>
                <a href = "urls/new"> Want to shorten a new URL? </a>
            </body>
          </html>

<!--

if (urlDatabase[key].linkid === req.cookies.user_id) {
display delete button

-->